@model buoi5.Models.Loaihanghoa

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if ((int)ViewBag.flag == 0)
{
    <h3>Bạn thật sự có muốn xóa loại hàng hóa này không ?</h3>
}
else
{
    <h3>Bạn không thể xóa loại hàng hóa này ?</h3>
}
<p>
    <a asp-action="Index" class="btn btn-primary">Hủy bỏ </a>
</p>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maloai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maloai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenloai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenloai)
        </dd>
      
    </dl>
     @if ((int)ViewBag.flag == 0)
    {
        <form asp-action="xoaLHH" asp-route-id="@Model.Maloai">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
        
    </form>
    }
</div>
